/* Styling header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

@media screen and (max-width: 810px) {
  /* Styles for tablets */
  header {
    justify-self: center;
    width: 300px;
  }
  header h2 {
    text-align: center;
  }
}

header h2 {
  color: #205781;
}

header .time-left {
  background-color: #98d2c0;
  border-radius: 5px;
  display: flex;
  width: 70px;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  margin-left: 20px;
}

header .time-left svg {
  color: #205781;
}

header .time-left .time {
  background-color: #205781;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 5px;
}
/* End of Styling header */
