/* Styling footer */
footer.quizzes-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer.quizzes-footer h3 {
  color: #205781;
  font-weight: bold;
  margin-top: 20px;
}

footer.quizzes-footer button.restart-quizz {
  background-color: #176ddd;
  border-radius: 8px;
  border: 1px solid;
  color: white;
  cursor: pointer;
  font-weight: 500;
  padding: 10px;
  width: 20%;
  margin-top: 20px;
  text-align: center;
  transition: background-color 500ms;
}
footer.quizzes-footer button.restart-quizz:hover,
footer.quizzes-footer button.restart-quizz:focus {
  background-color: #46a8f5;
}
/* End of Styling footer */
