/* Styling footer */
footer.quizzes-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 810px) {
  /* Styles for tablets */
  footer.quizzes-footer {
    width: 300px;
  }
}

footer.quizzes-footer h3 {
  color: #205781;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

footer.quizzes-footer button.restart-quiz {
  background-color: #176ddd;
  border-radius: 8px;
  border: 1px solid;
  color: white;
  cursor: pointer;
  font-weight: 500;
  padding: 10px;
  width: 20%;
  margin-top: 20px;
  text-align: center;
  transition: background-color 500ms;
}
footer.quizzes-footer button.restart-quiz:hover,
footer.quizzes-footer button.restart-quiz:focus {
  background-color: #46a8f5;
}

@media screen and (max-width: 810px) {
  /* Styles for tablets */
  footer.quizzes-footer button.restart-quiz {
    width: 100%;
  }
}

/* End of Styling footer */
