.interactive-quiz {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 810px) {
  /* Styles for tablets */
  .interactive-quiz * {
    font-size: small;
  }
}

@media screen and (max-width: 390px) {
  /* Styles for mobiles */
  .interactive-quiz * {
    font-size: xx-small;
  }
}
/* coolors: 205781 */
